<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>one</servlet-name>
        <servlet-class>shop.one</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stock</servlet-name>
        <servlet-class>shop.stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generatestock</servlet-name>
        <servlet-class>shop.generatestock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchase</servlet-name>
        <servlet-class>shop.purchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bill</servlet-name>
        <servlet-class>shop.bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>file</servlet-name>
        <servlet-class>shop.file</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bill1</servlet-name>
        <servlet-class>shop.bill1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>one</servlet-name>
        <url-pattern>/one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stock</servlet-name>
        <url-pattern>/stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generatestock</servlet-name>
        <url-pattern>/generatestock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>file</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill1</servlet-name>
        <url-pattern>/bill1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
